<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartbudget">
    <!-- <uses-sdk tools:overrideLibrary="com.github.sundeepk.compactcalendarview" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ui.Transaction.Transfer.TransferActivity"></activity>
        <activity android:name=".Ui.Budget.AddBudgetActivity" />
        <activity android:name=".Ui.Report.ReportActivity" />
        <activity android:name=".Ui.Calculator.CalcActivity" />
        <activity android:name=".Ui.Transaction.CalendarActivity" />
        <activity android:name=".Ui.Transaction.TransactionActivity" />
        <activity android:name=".Ui.Home.Category.ExpenseByCategoryActivity" />
        <activity android:name=".Ui.Budget.BudgetActivity" />
        <activity android:name=".Ui.Account.AccountActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".Ui.Main.SignInActivity" />
        <activity android:name=".Ui.Home.Spending.SpendingActivity" />
        <activity android:name=".Ui.Transaction.Add.Category.InputCategoryActivity" />
        <activity android:name=".Ui.Travel.TravelFullListActivity" />
        <activity android:name=".Ui.Travel.AddTravelTransactionActivity" />
        <activity android:name=".Ui.Travel.TravelDetailActivity" />
        <activity android:name=".Ui.Travel.AddTravelActivity" />
        <activity android:name=".Ui.Input.InputAccountActivity" />
        <activity android:name=".Ui.Account.AccountDetailActivity" />
        <activity android:name=".Ui.Account.AddAccountActivity" />
        <activity android:name=".Ui.Budget.ViewTransactionActivity" />
        <activity android:name=".Ui.Input.InputAmountActivity" />
        <activity android:name=".Ui.Transaction.Add.Note.InputNoteActivity" />
        <activity
            android:name=".Ui.Main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Transaction.Add.AddTransactionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Ui.Home.Overview.OverviewActivity" />
        <activity
            android:name=".Ui.Main.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>