<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartbudget">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ui.Transaction.Add.Category.InputCategoryActivity"></activity>
        <activity android:name=".Ui.Travel.TravelFullListActivity" />
        <activity android:name=".Ui.Travel.AddTravelTransactionActivity" />
        <activity android:name=".Ui.Travel.TravelDetailActivity" />
        <activity android:name=".Ui.Travel.AddTravelActivity" />
        <activity android:name=".Ui.Transaction.Add.Account.InputAccountActivity" />
        <activity android:name=".Ui.Account.AccountDetailActivity" />
        <activity android:name=".Ui.Account.AddAccountActivity" />
        <activity android:name=".Ui.Budget.ViewTransactionActivity" />
        <activity android:name=".Ui.Transaction.Add.Amount.InputAmountActivity" />
        <activity android:name=".Ui.Transaction.Add.Note.InputNoteActivity" />
        <activity
            android:name=".Ui.Main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Transaction.Add.AddTransactionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Ui.Home.Overview.OverviewActivity" />
        <activity
            android:name=".Ui.Main.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>