<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbudget">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Travel.TravelFullListActivity"></activity>
        <activity android:name=".Travel.AddTravelTransactionActivity" />
        <activity android:name=".Travel.TravelDetailActivity" />
        <activity android:name=".Travel.AddTravelActivity" />
        <activity android:name=".AddTransaction.Account.InputAccountActivity" />
        <activity android:name=".Account.AccountDetailActivity" />
        <activity android:name=".Account.AddAccountActivity" />
        <activity android:name=".Budget.ViewTransactionActivity" />
        <activity android:name=".AddTransaction.Amount.InputAmountActivity" />
        <activity android:name=".AddTransaction.Note.InputNoteActivity" />
        <activity
            android:name=".Main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTransaction.AddTransactionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Overview.OverviewActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>